.index-head{
    height: 12.6rem;
    background-image: url("../images/index_bg.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.header-left{
    display: flex;
}
.person{
    height: 5.65rem;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 1.7rem;
}

.home-sign{
    height: 2.65rem;
    padding-top: 4rem;
    padding-right: 2.3rem;
}
.words{
    padding-top: 2.9rem;
}
.index-head div p{
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.7rem;
}
.index-head div span{
    font-size: 2rem;
    font-weight: bold;
}
section{
    margin: 0 2%;

    font-size: 0;
    overflow: hidden;
    position: relative;
}
.banner{
    height: 53vw;
    margin-top: 2.1rem;
}
.main{
    margin-bottom:  5.3rem;
}
.banner-run{
    width: 500%;
    position: absolute;
    top: 0;
    left: 0;
}
.banner img{
    width: 20%;
    border-radius: 5px;
    display: inline-block;
}
.main-title{
    background-color: #fff;
}
.main-title h3{
    display: inline-block;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 3.5rem;
}
.main-title h3 img{
    height: 1.8rem;
    vertical-align: top;
    padding-left: 0.8rem;
    padding-right: 0.4rem;
    padding-top: 0.9rem;
}
.main-title p{
    float: right;
    text-align: right;
    font-size: 1rem;
    line-height: 3.0rem;
    padding-top: 0.5rem;
    color: #2ac598;
}
.main-title p a{
    margin-right: 1rem;
}
.main-pic div{
    width: 49%;
    margin-bottom: 1rem;
    height: 22.4rem;
    border-radius: 5px;
    background-color: #fff;
}
.main-pic div:first-child{
    float: left;
}
.main-pic div:last-child{
    float: right;
}
.main-pic div img{
    width: 100%;
    display: block;
}
.main-pic h3{
    font-size: 1.4rem;
    color: #000;
    padding-top: 1.2rem;
    padding-left: 1rem;
    padding-bottom: 0.7rem;
    font-weight: normal;
}
.main-pic p{
    font-size: 1.3rem;
    color: #000;
    padding-left: 1rem;
}
.scorea{
    width: 100%;
    position: fixed;
    z-index: 100;
}
/*bannerÇø*/
.xss-banner{
    height: 18vh;
    background-color: #fff;
    display: flex;
}
.banner-pic{
    height: 10vh;
    padding-top: 4vh;
    padding-left: 3vh;
    padding-right: 3vh;
}
.banner-pic img{
    height: 100%;
    border-radius: 50%;
}
.banner-words{
    padding-top: 3vh;
}
.banner-words h3{
    font-weight: normal;
    font-size: 5vw;
    color: #505050;
    line-height: 6vh;
}
.banner-words h3 span{
    display: inline-block;
    width: 13vh;
    line-height: 3vh;
    background-image: url("../images/color05.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 2vh;
    color: #fff;
    text-align: center;
}
.banner-words1{
    font-size: 1.8vh;
    line-height: 2vh;
    color: #707070;
    padding: 1.2vh 0;
}
.banner-words2{
    font-size: 1.8vh;
    line-height: 2vh;
    color: #707070;
    padding: 1vh 0 0.5vh;
}
/*ÄÚÈÝÇø*/
.xss-main{
    background-color: #f4fcfe;
    height: 82vh;
}
.xss-main h3{
    height: 4vh;
    font-size: 1.3rem;
    font-weight: normal;
    color: #707070;
}
.xss-main h3 span{
    line-height: 4vh;
    font-size: 3.2vw;
}
.xss-main h3 img{
    height: 3vh;
    vertical-align: top;
    padding-left: 1.5rem;
    padding-right: 1.2rem;
    padding-top: 0.8vh;
}
.xss-canvas{
    position: relative;
    width: 100%;
    height: 28vh;
    overflow-x: scroll;
}
#canvas{
    position: absolute;
    top: 0;
    display: none;
}
.xss-main table{
    border-collapse: collapse;
    height: 24vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
}
.xss-main table tr td{
    border-top: 1px solid #d9f4f0;
    border-right: 1px solid #d9f4f0;
    text-align: center;
    box-sizing: border-box;
}
.xss-main table span{
    font-size: 1rem;
    color: #2ac598;
    position: relative;
}
.xss-main table td:first-child span,.xss-main table td:last-child span{
    top:0.3rem ;
}
.xss-main table td:nth-child(2) span,.xss-main table td:nth-child(3) span{
    top:-1.2rem ;
}
.xss-main table td:nth-child(4) span{
    top: -4.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
}
.xss-main .week{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #2ac598;
    line-height: 4vh;
    color: #fff;
    font-size: 2vh;
}
.xss-main .week li{
    display: inline-block;
    text-align: center;
}
.main-bottom{
    padding: 0.9rem 0 0 0;
}
.bottom-header{
    width: 92%;
    height: 3.3vh;
    margin: 1.5vh auto 2.5vh;
    background-color: #efefef;
    border-radius: 0.75rem;
}
.bottom-header a{
    display: inline-block;
    width:0;
    height: 100%;
    background-image: linear-gradient(90deg,#2cc599 0%,#75c7ef 100% );
    border-radius: 1.7rem;
    font-size: 1.6rem;
    color: #fff;
}
.bottom-header a span{
    float: right;
    padding-right: 1rem;
    line-height: 3.3vh;

}
.bottom-bottom{
    width: 100%;
    height: 37vh;
    background-image: url("../images/scope06.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bottom-bottom h2{
     line-height: 5vh;
    font-size: 2vh;
    color: #fff;
    font-weight: normal;
    border-bottom: 1px solid #54d0b3; 

}
.bottom-bottom h2 img{
    height: 3.5vh;
    vertical-align: middle;
    padding-left: 1.5rem;
    padding-right: 1rem;
}
.bottom-spline{
    padding-top: 4vh;
    width: 100%;
    height: 22vh;
}
.mask{
    height: 22vh;
    width: 0;
    overflow: hidden;
}
.bottom-spline img{
    height: 22vh;
}

.bottom-shadow{
    width: 100%;
    height: 7vh;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
}
.bottom-shadow img{
    height: 2vh;
    padding-top: 2vh;
}














