<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>history</title>
    <link href="../css/base.css" rel="stylesheet">
    <script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/subject.js"></script>
    <style type="text/css">
        .tww-main{height: 30rem;font-size: 0;}
        .tww-main h2{padding:1rem 0 1rem 2.6rem;color: #606060;font-size: 1.6rem;font-weight: 400;}
        .tww-main p{padding-left: 2.6rem;color: #888;font-size: 1.2rem;line-height: 2rem;font-weight: normal;}
        .search-header input{color: #545b67;}
        .ajax{width: 100%;height: 2rem;display: inline-block;line-height: 2rem;padding-top: 2rem;padding-left: 10rem;font-size: 1.5rem;box-sizing: border-box;}
    </style>
</head>
<body>
    <header>
        <div class="search-header">
            <div class="search-inner">
                <img src="../images/search01.png" class="search-pic">
                <input type="text" placeholder="请输入作者姓名进行搜索">
            </div>
            <p>取消</p>
        </div>
    </header>
    <section class="tww-main">
        <span class="ajax"></span>
        <h2>搜索历史:</h2>
    </section>
</body>
</html>