<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">
    <script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script src="../js/home.js"></script>
    <title>home</title>
</head>
<body>
    <div class="index-head">
        <div class="header-left">
            <a href="setting.html"><img class="person" src="../images/index_03.png"></a>
            <div class="words">
                <p><span>李雷</span> 总排名：11</p>
                <p>平均成绩：A-</p>
                <p>职业素质：95</p>
            </div>
        </div>
        <div>
            <a href="subject.html"><img class="home-sign" src="../images/sign.png"></a>
        </div>
    </div>
    <section class="banner">
        <div class="banner-run">
            <a href="notice.html"><img src="../images/index_banner.png"></a>
            <a href="notice.html"><img src="../images/index_banner2.png"></a>
            <a href="notice.html"><img src="../images/index_banner3.png"></a>
            <a href="notice.html"><img src="../images/index_banner4.png"></a>
        </div>
    </section>
    <section class="main">
        <div>
            <div class="main-title">
                <h3><a href="boxlist.html"><img src="../images/index_18.png"><span>我的作品</span></a></h3>
                <p><a href="boxlist.html">开启</a></p>
            </div>
            <div class="main-pic">
                <div>
                    <a href="taskt.html"><img src="../images/index-main1.png"></a>
                    <h3>冯素素</h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
                <div>
                    <a href="taskt.html"><img src="../images/index-main2.png"></a>
                    <h3>黄玉婷</h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div>
            <div class="main-title">
                <h3><a href="boxlist.html"><img src="../images/index_18.png"><span>作品盒子</span></a></h3>
                <p><a href="boxlist.html">开启</a></p>
            </div>
            <div class="main-pic">
                <div>
                    <a href="taskt.html"><img src="../images/index-main1.png"></a>
                    <h3>冯素素</h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
                <div>
                    <a href="taskt.html"><img src="../images/index-main2.png"></a>
                    <h3>黄玉婷</h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
            <div class="main-pic">
                <div>
                    <a href="taskt.html"><img src="../images/index-main1.png"></a>
                    <h3>冯素素</h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
                <div>
                    <a href="taskt.html"><img src="../images/index-main2.png"></a>
                    <h3>黄玉婷</h3>
                    <p>1512期UI视觉设计师班1班</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        
    </section>
    <footer>
        <ul>
            <li>
                <div>
                    <a href="#"><img src="../images/index01.png"></a>
                </div>
                <p>首页</p>
            </li>
            <li>
                <div>
                    <a href="#"><img src="../images/help.png"></a>
                </div>
                <p>助手</p>
            </li>
            <li>
                <div>
                    <a href="#"><img src="../images/community.png"></a>
                </div>
                <p>社区</p>
            </li>
        </ul>
    </footer>
    <div class="scorea">
        <div class="xss-banner">
            <div class="banner-pic"><img src="../images/setting01.png"></div>
            <div class="banner-words">
                <h3>李雷&nbsp;&nbsp;<span>总排名：11</span></h3>
                <p class="banner-words1">班级：1603期UI视觉设计师班1班</p>
                <p class="banner-words2">作业提交率：100%&nbsp;&nbsp;&nbsp;考勤率：97%</p>
            </div>
        </div>
        <div class="xss-main">
            <h3>
                <img src="../images/scope01.png">
                <span>专业成绩</span>
            </h3>
            <div class="xss-canvas">
                <table>
                    <tr></tr>
                </table>
                <canvas id="canvas"></canvas>
                <ul class="week"></ul>
            </div>
            <div class="main-bottom">
                <h3><img src="../images/important03.png"><span>职业素质分</span></h3>
                <div class="bottom-header"><a href="joba.html"><span class="num"></span></a></div>
                <div class="bottom-bottom">
                    <h2><img src="../images/scope03.png">击败了85%的同学</h2>
                    <div class="bottom-spline">
                        <div class="mask"><img src="../images/linear02.png"></div>
                    </div>
                    <div class="bottom-shadow">
                        <img src="../images/up01.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>