<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>notice</title>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/activity.css">
	<link rel="stylesheet" href="../css/notice.css">
	<script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
	<script src="../js/notice.js"></script>
</head>
<body>
	<div class="cjy-bg">
	<div class="cjy-shares">
		<div class="cjy-share-content">
			<h3>分享到</h3>

			<div class="cjy-share-pic">
				<div>
					<img src="../images/weixin.png"/>

					<p>微信好友</p>
				</div>
				<div>
					<img src="../images/sina.png"/>

					<p>新浪微博</p>
				</div>
				<div>
					<img src="../images/friends.png"/>

					<p>朋友圈</p>
				</div>
				<div>
					<img src="../images/link02.png"/>
					<p>获取链接</p>
				</div>
			</div>
		</div>
		<a href="#" class="cjy-buttons">取消</a>
	</div>
</div>
	<div class="common-header">
		<img src="../images/back07.png" class="pic-left">
		<p>活动通知</p>
		<img src="../images/share01.png" class="pic-right">
	</div>
	<div class="main">
		<div class="item">
			<div class="pic">
				<img src="../images/index_banner.png">
			</div>
			<div class="text">
				<h2>海报创意设计</h2>
				<p>海子团队讲解想法，带你开拓思维和想法</p>
			</div>
			<div class="tag">
				<div class="tag-left">
					<img src="../images/position.png">
					<span>火星时代 杏石口路81号</span>
				</div>
				<div class="tag-right">
					<img src="../images/time.png">
					<span>5-15 16:00-18:30</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="content">
			<h2>简介</h2>
			<p>海子团队讲解想法，带你开拓思维和想法</p>
			<p>地址：北京市海淀区杏石口路81号&nbsp;&nbsp;&nbsp;&nbsp;火星时代</p>
			<time>时间：2016.5.15 16:00-18:30</time>
		</div>
	</div>
</body>
</html>