<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>pwd</title>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/pwd.css" rel="stylesheet">
    <script src="../lib/angular.js"></script>
    <script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/pwd.js"></script>
    <script>
        //1.创建一个模板
        var myapp = angular.module("myapp", []);
        //2.注册一个控制器
        myapp.controller("formCtrl", function ($scope) {

        })
    </script>
</head>
<body ng-app="myapp" ng-controller="formCtrl">
<header>
    <div class="common-header">
        <img src="../images/back07.png" class="pic-left">
        <p>设置</p>
    </div>
</header>
<section>
    <form name="forPwdForm" method="" action="" novalidate>
       <div class="yMiMa">
           <input type="password" placeholder="原密码" class="oldPwd"><span id="span3"></span><br>
       </div>
       <div class="xMiMa">
           <input type="password" placeholder="新密码" class="newPwd" name="nPwd" ng-model="nPwd" ng-minlength="6" required>
           <span ng-show="forPwdForm.nPwd.$invalid && forPwdForm.nPwd.$dirty" class="oPwd">密码不能少于6位</span>
           <br>
       </div>
        <div class="qRen">
            <input type="password" placeholder="确认新密码" class="enPwd" name="ePwd" ng-model="ePwd" ng-minlength="6" ng-change="judge()" required>
            <span ng-show="forPwdForm.ePwd.$invalid && forPwdForm.ePwd.$dirty" class="nPwd" >密码不能少于6位</span>
            <span id="span1"></span>
        </div>
        <button type="button" ng-disabled="forPwdForm.$invalid">提交</button>
    </form>
</section>
</body>
</html>