<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>setting</title>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/setting.css" rel="stylesheet">
    <script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/setting.js"></script>
</head>
<body>
<header>
    <div class="common-header">
        <a href="home.html">
            <img src="../images/back07.png" class="pic-left">
        </a>
        <p>设置</p>
    </div>
</header>
<section class="tww-photo">
    <div class="tww-main_t">
        <p>头像</p>
        <div class="tww-pic">
            <img src="../images/setting01.png">
        </div>
    </div>
    <p>修改密码</p>
</section>
<section class="tww-info">
    <p>消息通知</p>
    <div>
        <img src="../images/color03.png" class="cjy-img">
        <div class="tww-circle"></div>
    </div>
</section>
<section class="tww-exit">
    <div class="tww-verson">
        <div>
            <span>升级</span>
            <img src="../images/dot02.png">
        </div>
        <p>v.1.0</p>
    </div>
    <p>退出当前账号</p>
</section>
<!--更改photo的弹出框结构-->
<section class="tww-cjy-pic">
    <div class="tww-photoT">
        <p>修改头像</p>
        <button>
            <a href="phset.html"><img src="../images/photo05.png">
            从相册中选择</a>
        </button>
        <button>
            <a href="paph.html"><img src="../images/photo04.png">
            拍照</a>
        </button>
    </div>
</section>
<!--弹出退出框-->
<section>
    <div class="tww-btn">
        <div>
            <p>确认退出</p>
        </div>
        <div class="tww-select">
            <button class="tww-cancal">取消</button>
            <button class="tww-sure"><a href="../login.html">确定</a></button>
        </div>
    </div>
</section>
</body>
</html>