<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximun=1.0,user-scalable=no">
	<title>window</title>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../lib/angular.js"></script>
	<script type="text/javascript" src="../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
	<script src="../js/chb-js.js"></script>

</head>
<body>
	
		<div class="common-header">
			<a href="activitya.html">
				<img src="../images/back07.png" class="pic-left">
				<p>CGTOP</p>	
			</a>	
		</div>
		<section>
			<div class="chb-vidpic">
				<img src="../images/video01.png" alt="">
				<img src="../images/top_play.png" alt="">
			</div>
			<p class="chb-psize">创意在哪里?</p>
			<div class="chb-txt">
				关注创意领域的实践和动态。在这里，您既可体验鲜
				活而精彩的创意案例，聆听专家对创意难点问题的解
				答，又可掌握实用工具，并紧扣前沿，与广大经理人
				和精英切磋创意之道。
			</div>
		</section>
	
		<!-- 遮罩 -->
		<div class="chb-flip-bg">
			<div class="chb-flip">
				<div class="chb-fliptxt">是否使用流量播放</div>
				<a href="#">取消</a>
				<a href="#">确定</a>
			</div>
		</div>

</body>
</html>